
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img span {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/150% Arial, Verdana, "\5b8b\4f53";
    color: #333333;
    background: #ffffff;
}
/*  去掉图片低测默认的3像素空白缝隙*/
img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    /*font-family: "SimSun", "微软雅黑";*/
}
/*清除按钮默认样式*/
input,button  {
    /*border: none;*/
    cursor: pointer;
    /*background-color: #1b1b1f;*/
    /*color: #ffffff;*/
}
ul, ol {
    list-style: none;
}
select, input {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/*a:hover {*/
    /*!*color: #C81623;*!*/
/*}*/
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}


/*版心*/
.container {
    margin:0 auto;
    width: 750px;
    /*height: 2000px;*/
    font: 34px/48px "微软雅黑";
    background-color: #f2f2f2;
}

